@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Hello World!</h1>
<a href="/CreateAccount" class="btn btn-primary">Create Account</a>
<script type="module" src="/dist/main.js"></script>



